.navbar-modal {
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
  width: 400px;
  background-color: antiquewhite;
  border-radius: 25px;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
}

.navbar-modal-close-button {
  position: absolute;
  right: 32px;
  top: 32px;
  border: none;
  cursor: pointer;
  font-size: 36px;
  background-color: transparent;
}
