* {
  margin: 0;
  padding: 0;
  --nav-height: 80px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.form-container {
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.form {
  gap: 20px;
}

.hidden {
  visibility: hidden;
}
